.row.row-50
	.col-sm-6.col-lg-4.wow-outer
		// Post Classic
		article.post-classic.wow.slideInLeft
			a.post-classic-media(href=links.post): +jpg('sidebar-blog-1-370x264')
			ul.post-classic-meta
				li: a.button-winona(href='#') News
				li: time(datetime='2018') Apr 21, 2018 at 12:05 pm

			h4.post-classic-title: a(href=links.post).post-modern-title Real Estate Guide: 7 Important Tips for Buying a Home

	.col-sm-6.col-lg-4.wow-outer
		// Post Classic
		article.post-classic.wow.slideInLeft(data-wow-delay='.05s')
			a.post-classic-media(href=links.post): +jpg('sidebar-blog-2-370x264')
			ul.post-classic-meta
				li: a.button-winona(href='#') Tips
				li: time(datetime='2018') Apr 21, 2018 at 12:05 pm

			h4.post-classic-title: a(href=links.post).post-modern-title Start These Habits Now If You Want to Buy a Home Next Year

	.col-sm-6.col-lg-4.wow-outer
		// Post Classic
		article.post-classic.wow.slideInLeft(data-wow-delay='.1s')
			a.post-classic-media(href=links.post): +jpg('sidebar-blog-3-370x264')
			ul.post-classic-meta
				li: a.button-winona(href='#') News
				li: time(datetime='2018') Apr 21, 2018 at 12:05 pm

			h4.post-classic-title: a(href=links.post).post-modern-title 7 Signs the Home You’re Buying Will Have Good Resale Value
			
.wow-outer.button-outer
	a.button.button-lg.button-primary.button-winona.wow.slideInUp(href='grid-blog.html') View all Blog posts
