mixin footer-advanced(obj)
	footer.section.footer-advanced.bg-gray-700
		.footer-advanced-main
			.container
				.row.row-50
					.col-lg-4
						h5.font-weight-bold.text-uppercase.text-white About Us
						p.footer-advanced-text=obj.about
	
					.col-sm-7.col-md-5.col-lg-4
						h5.font-weight-bold.text-uppercase.text-white Recent Blog Posts
						// Post Inline
						article.post-inline
							p.post-inline-title: a(href=links.post)=obj.posts[0]
							ul.post-inline-meta
								li by Mike Barnes
								li: a(href=links.post) 2 days ago
	
						// Post Inline
						article.post-inline
							p.post-inline-title: a(href=links.post)=obj.posts[1]
							ul.post-inline-meta  
								li by Mike Barnes
								li: a(href=links.post) 2 days ago
	
					.col-sm-5.col-md-7.col-lg-4
						h5.font-weight-bold.text-uppercase.text-white Gallery
						.row.row-x-10(data-lightgallery='group')
							.col-3.col-sm-4.col-md-3
								a.thumbnail-minimal(href='images/gallery-original-1.jpg' data-lightgallery='item')
									img.thumbnail-minimal-image(src='images/footer-gallery-1-85x85.jpg' alt='' )
									.thumbnail-minimal-caption
							.col-3.col-sm-4.col-md-3
								a.thumbnail-minimal(href='images/gallery-original-2.jpg' data-lightgallery='item')
									img.thumbnail-minimal-image(src='images/footer-gallery-2-85x85.jpg' alt='' )
									.thumbnail-minimal-caption
							.col-3.col-sm-4.col-md-3
								a.thumbnail-minimal(href='images/gallery-original-3.jpg' data-lightgallery='item')
									img.thumbnail-minimal-image(src='images/footer-gallery-3-85x85.jpg' alt='' )
									.thumbnail-minimal-caption
							.col-3.col-sm-4.col-md-3
								a.thumbnail-minimal(href='images/gallery-original-4.jpg' data-lightgallery='item')
									img.thumbnail-minimal-image(src='images/footer-gallery-4-85x85.jpg' alt='' )
									.thumbnail-minimal-caption
							.col-3.col-sm-4.col-md-3
								a.thumbnail-minimal(href='images/gallery-original-5.jpg' data-lightgallery='item')
									img.thumbnail-minimal-image(src='images/footer-gallery-5-85x85.jpg' alt='' )
									.thumbnail-minimal-caption
							.col-3.col-sm-4.col-md-3
								a.thumbnail-minimal(href='images/gallery-original-6.jpg' data-lightgallery='item')
									img.thumbnail-minimal-image(src='images/footer-gallery-6-85x85.jpg' alt='' )
									.thumbnail-minimal-caption 
							.col-3.col-sm-4.col-md-3
								a.thumbnail-minimal(href='images/gallery-original-7.jpg' data-lightgallery='item')
									img.thumbnail-minimal-image(src='images/footer-gallery-7-85x85.jpg' alt='' )
									.thumbnail-minimal-caption
							.col-3.col-sm-4.col-md-3
								a.thumbnail-minimal(href='images/gallery-original-8.jpg' data-lightgallery='item')
									img.thumbnail-minimal-image(src='images/footer-gallery-8-85x85.jpg' alt='' )
									.thumbnail-minimal-caption
	
		.footer-advanced-aside
			.container
				.footer-advanced-layout
					div: ul.list-nav 
						li: a(href='index.html') Home
						li: a(href='about-us.html') About
						li: a(href='properties.html') Properties
						li: a(href='grid-blog.html') Blog
						li: a(href='contacts.html') Contacts
	
					div: ul.foter-social-links.list-inline.list-inline-md
						li: a.icon.icon-sm.link-default.mdi.mdi-facebook(href='#')
						li: a.icon.icon-sm.link-default.mdi.mdi-twitter(href='#')
						li: a.icon.icon-sm.link-default.mdi.mdi-instagram(href='#')
						li: a.icon.icon-sm.link-default.mdi.mdi-google(href='#')
						li: a.icon.icon-sm.link-default.mdi.mdi-linkedin(href='#')
	
		.container: hr
	
		.footer-advanced-aside
			.container
				.footer-advanced-layout
					a.brand(href='index.html')
						+png(logo.light.trueSize)(srcset='images/' + logo.light.retina + '.png 2x')
					+rights
